.post-type-archive-deal {
  background: #f1f5f9;
  .deals-main-ss {
    padding: 80px 0;
    .deals-filter-form-wrap {
      background: #d2e4f0;
      padding: 40px;
      border-radius: 20px;
      .deals-filter-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
        color: $primary-color;
        margin-bottom: 20px;
      }
      .deals-filter-form {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 20px;
        .form-field {
          width: calc(25% - 15px);
          &.form-field-class {
            select {
              background-image: url('../images/ticket.svg');
              background-size: 28px;
              padding-left: 48px;
            }
          }
          &.form-field-airline {
            select {
              background-image: url('../images/plane.svg');
              background-size: 32px;
              padding-left: 50px;
            }
          }
          &.form-field-sort {
            select {
              background-image: url('../images/sort.svg');
            }
          }
          label {
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 4px;
          }
          input,
          select {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: #333333;
            background-color: #FFFFFF;
            background-repeat: no-repeat;
            background-position: center left 12px;
            background-size: 24px;
            padding: 12px 12px 12px 40px;
            border: 1px solid #c0cdd1;
            border-radius: 50px;
          }
          input[type="submit"] {
            display: block;
            width: 100%;
            height: 46px;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            background: $accent-color;
            padding: 12px;
            border: 1px solid $accent-color;
            border-radius: 50px;
            &:hover, &:focus {
              background: $primary-color;
              border-color: $primary-color;
            }
          }
        }
      }
    }
    .deals-results {
      margin-top: 40px;
      .deal-items {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px;
      }
      .deal-item {
        display: flex;
        flex-wrap: wrap;
        min-height: 260px;
        overflow: hidden;
        border-radius: 5px;
        border-radius: 20px;
        box-shadow: rgba(10, 10, 130, 0.25) 10px 12px 45px -10px;
        transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, box-shadow 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        .deal-thumbnail {
          width: 30%;
          position: relative;
          overflow: hidden;
          line-height: 0;
          background: #EAEAEA;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
          }
          .deal-tags {
            position: absolute;
            top: 15px;
            left: 15px;
            a{
              display: inline-block;
              padding:5px 10px;
              border-radius: 3px;
              margin-right: 10px;
              color: #fff;
              font-size: 14px;
              font-weight: 600;
              &.featured{
                background-color: #516095;
              }
              &.hot-item{
                background-color: #fd8787;
              }
              &.ending-soon{
                background-color: #78c1b9;
              }
            }
          }
          .deal-icon-box-item {
            bottom: 0px;
            position: absolute;
            left: 0px;
            text-align: center;
            background: #9064bf;
            // border-radius: 0 20px 0 20px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            border-radius: 0 0px 0 20px;
            width: 100%;
            img{
              fill: #fff;
              display: inline-block;
              width: 38px;
              height: 38px;
              position: relative;
              margin-right: 5px;
              filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(158deg) brightness(109%) contrast(105%);
            }
            span{
              color: #fff;
              font-size: 13px;
              font-weight: 500;
              line-height: 16px;
            }
          }
        }
        .deal-content {
          width: calc(70% - 160px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 30px;
          .deal-title {
            font-size: 32px;
            font-weight: 700;
            line-height: 1.2;
            color: $primary-color;
            margin-bottom: 15px;
          }
          .deal-desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
          }
          .deal-price {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            color: $primary-color;
            margin-top: 15px;
            span {
              font-size: 16px;
              font-weight: 400;
            }
          }
          a.btn-more{
            &:hover {
              color: inherit;
            }
          }
        }
        .deal-view-more {
          width: 160px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-right: 30px;
          .btn-view-more {
            display: block;
            width: 100%;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            background: $accent-color;
            padding: 12px;
            border-radius: 50px;
          }
        }
        &:hover {
          box-shadow: rgba(10, 10, 130, 0.25) 10px 12px 55px -20px;
          transform: translateY(-0.1875rem);
          .deal-thumbnail img {
            transform: scale(1);
          }
          .deal-view-more {
            .btn-view-more {
              &:hover, &:focus {
                background: $primary-color;
              }
            }
          }
        }
      }
      .pagination-nav {
        text-align: center;
        margin-top: 40px;
      }
      .no-results {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        color: $primary-color;
      }
    }
    @media(max-width: $screen-sm-tablet) {
      .deals-filter-form-wrap .deals-filter-form .form-field {
        width: calc(50% - 10px);
      }
      .deals-results .deal-item {
        .deal-thumbnail {
          width: 100%;
          padding-bottom: 66%;
        }
        .deal-content {
          width: 100%;
        }
        .deal-view-more {
          padding: 0 0 30px 30px;
        }
      }
    }
    @media(max-width: $screen-mb) {
      .deals-filter-form-wrap {
        padding: 30px 20px;
        .deals-filter-title {
          font-size: 30px;
        }
        .deals-filter-form .form-field {
          width: 100%;
        }
      }
      .deals-results .deal-item {
        .deal-content {
          padding: 30px 20px;
          .deal-title {
            font-size: 24px;
          }
        }
        .deal-view-more {
          padding: 0 0 30px 20px;
        }
      }
    }
  }
  .deals-trustpilot-ss {
    background: #F8FCFF;
    padding: 80px 0;
  }
}
