body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  * {
    &:focus {
      outline: none;
    }
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    line-height: 1.2;
    color: #333333;
    margin: 0 0 16px;
  }

  h1 { font-size: 40px; }
  h2{ font-size: 24px; }
  h3{ font-size: 20px; }
  h4{ font-size: 18px; }
  h5, h6{ font-weight: 600; }

  @media( max-width: $screen-mb - 0.02 ) {
    h1 { font-size: 28px; }
    h2{ font-size: 22px; }
    h3{ font-size: 18px; }
    h4{ font-size: 16px; }
    h5, h6{ font-weight: 500; }
  }

  p {
    margin-bottom: 16px;
    strong,b {
      font-weight: bold;
      line-height: inherit;
    }
  }

  a { outline: none; }

  input,textarea {
    &:focus{
      -webkit-text-size-adjust: 100%;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      &:focus{
        font-size: 14px;
      }
    }
  }
}

.elementor-widget-text-editor {
  .elementor-text-editor > *:last-child,
  .elementor-widget-container > *:last-child {
    margin-bottom: 0;
  }
}
