.single-deal {
  .deal-hero-ss {
    position: relative;
    background: #F7F7FB;
    height: 500px;
    padding-bottom: unset;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .container.be-hot-tag{
      position: relative;
      height: 100%;

      h3.deal-title {
        width: calc(60% - 40px);
        position: absolute;
        bottom: 50px;
        color: #fff;
        z-index: 2;
        font-size: 35px;
        text-transform: uppercase;
    }
    }
    .deal-tags {
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 2;
      a{
        display: inline-block;
        padding:5px 10px;
        border-radius: 3px;
        margin-right: 10px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        &.featured{
          background-color: #516095;
        }
        &.hot-item{
          background-color: #fd8787;
        }
        &.ending-soon{
          background-color: #78c1b9;
        }
      }
    }
    .deal-icon-box-item {
      top: 15px;
      position: absolute;
      right: 15px;
      text-align: center;
      background: #9064bf;
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      z-index: 2;
      img{
        fill: #fff;
        display: inline-block;
        width: 38px;
        height: 38px;
        position: relative;
        margin-right: 5px;
      }
      span{
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
      }
    }
    &::before{
      content:'';
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top:0;
      z-index: 1;
    }
  }
  .deal-main-ss {
    background: #FFFFFF;
    padding-bottom: 90px;
    .deal-main-wrap {
      display: flex;
      gap: 80px;
      .deal-main-content {
        width: calc(60% - 40px);
        padding-top: 80px;
      }
      .deal-main-sidebar {
        width: calc(40% - 40px);
        margin-top: -170px;
        z-index: 2;
      }
    }
    .deal-title { 
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      color: $primary-color;
      margin-bottom: 4px;
    }
    .deal-subtitle {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    .deal-summary ul {
      list-style-type: none;
      padding: 0;
      margin: 24px 0;
      li {
        padding-left: 24px;
        margin-bottom: 10px;
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: '';
          position: absolute;
          text-align: center;
          top: 10px;
          left: 0;
          width: 14px;
          height: 2px;
          background: $primary-color;
        }
      }
    }
    .deal-note {
      .deal-note-item {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
        .label {
          font-weight: 700;
          width: 140px;
        }
        .value {
          width: calc(100% - 140px);
          margin-left: 30px;
        }
      }
      .deal-note-list{
        background: #f4f9fd;
        padding: 40px 50px;
        border-bottom: 3px solid #00ADEE;
      }
    }
    .deal-share {
      margin-top: 30px;
      .addtoany_shortcode {
        margin: 0;
      }
    }
    .deal-sticky-sidebar {
      position: sticky;
      top: 140px;
    }
    .deal-enquiry-form-wrap {
      background: #f1f5f9;
      padding: 40px;
      border-radius: 5px;
      .deal-feature-list {
        .deal-feature-item {
          display: flex;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.5;
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }
          &.deal-price {
            align-items: center;
            span {
              font-size: 24px;
              font-weight: 700;
              color: $primary-color;
              margin-left: 4px;
            }
          }
          .label {
            width: 120px;
            font-weight: 700;
          }
          .value {
            width: calc(100% - 120px);
          }
        }
      }
      .deal-cta{
        margin-top: 18px;
        a{
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 20px;
          letter-spacing: 1px;
          color: #FFFFFF;
          background-color: #00ADEE;
          outline: none;
          border: none;
          border-radius: 50px 50px 50px 50px;
          padding: 15px 35px 15px 35px;
          display: inline-block;
          &:hover{
            background-color: #00448A;
          }
        }
      }
      .deal-enquiry-form {
        margin-top: 30px;
        .wpcf7-form {
          .wpcf7-not-valid-tip {
            display: none;
          }
          .form-field {
            input,
            textarea {
              width: 100%;
              font-size: 16px;
              line-height: 24px;
              font-weight: 400;
              color: #555555;
              background: transparent;
              border: 1px solid #bcbcbc;
              padding: 12px;
              border-radius: 4px;
              &[aria-invalid="true"] {
                border-color: #dc3232;
              }
            }
            textarea {
              height: 150px;
            }
          }
          .form-submit {
            p {
              margin: 0;
            }
            input[type="submit"] {
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              line-height: 20px;
              letter-spacing: 1px;
              color: #FFFFFF;
              background-color: $accent-color;
              outline: none;
              border: none;
              border-radius: 50px 50px 50px 50px;
              padding: 15px 35px 15px 35px;
              &:hover {
                color: #FFFFFF;
                background-color: $primary-color;
              }
            }
          }
        }
      }
    }
    @media(max-width: $screen-tablet) {
      .deal-main-wrap {
        flex-direction: column;
        grid-gap: 40px;
        .deal-main-content,
        .deal-main-sidebar {
          width: 100%;
        }
      }
    }
    @media(max-width: $screen-mb) {
      padding: 60px 0;
      .deal-title {
        font-size: 32px;
      }
    }
    @media(max-width: $screen-mb-small) {
      .deal-enquiry-form-wrap {
        padding: 30px 20px;
      }
    }
  }
  .deal-slider-ss {
    position: relative;
    background: #f1f5f9;
    overflow: hidden;
    .swiper {
      padding-bottom: 45px;
      .swiper-pagination-bullets {
        display: flex;
        width: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        line-height: 0;
        overflow: hidden;
        border-radius: 5px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
      .swiper-pagination-bullet {
        width: 20px;
        height: 4px;
        margin: 0;
        border-radius: 0;
        &-active {
          width: 80px;
          background: $primary-color;
        }
      }
    }
  }
  .deal-trustpilot-ss {
    padding: 40px 0;
    background: #f1f5f9;
  }
}
