.single-deal {
  .deal-hero-ss {
    position: relative;
    background-color: #F7F7FB;
    background-image: url('../images/title-bar-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 90px 0;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: -1;
    }
    .deal-page-title {
      font-size: 35px;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 0;
    }
  }
  .deal-slider-ss {
    position: relative;
    overflow: hidden;
    padding-top: 90px;
    &.has-slider {
      padding-top: 20px;
    }
  }
}
