/* Screen */
$screen-large: 1200px - 0.02;
$screen-tablet: 1025px - 0.02;
$screen-sm-tablet: 992px - 0.02;
$screen-mb: 768px - 0.02;
$screen-mb-small: 480px - 0.02;

/* Color Site */
$primary-color: #00448A;
$accent-color: #00ADEE;
