.deals-grid-with-filter {
  .deals-grid-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    .filter-item {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $accent-color;
      background: transparent;
      padding: 10px 20px;
      border: 1px solid $accent-color;
      border-radius: 30px;
      &:hover,
      &.active {
        color: #FFFFFF;
        background: $accent-color;
      }
    }
  }
  .deals-grid-content {
    margin-top: 40px;
    .deals-grid-items {
      display: none;
      &.active {
        display: block;
      }
      .deals-grid-item {
        position: relative;
        overflow: hidden;
        background: #fff;
        padding-bottom: 45px;
        border-radius: 5px;
        box-shadow: rgba(10, 10, 130, 0.12) 0px 2px 5px 0px;
        transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, box-shadow 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        .deal-thumbnail {
          line-height: 0;
          .image-cover {
            position: relative;
            overflow: hidden;
            background: #EAEAEA;
            padding-bottom: 66%;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transform: scale(1.08);
              transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
            }
          }
        }
        .deal-content {
          padding: 20px 30px;
          .deal-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;
            color: $primary-color;
            margin-bottom: 15px;
            a {
              color: inherit;
            }
          }
          .deal-price {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            color: $primary-color;
            margin-bottom: 15px;
            span {
              font-size: 16px;
              font-weight: 400;
            }
          }
          .deal-desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .deal-book-by {
          position: absolute;
          left: 30px;
          bottom: 20px;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          color: $primary-color;
        }
        &:hover {
          box-shadow: rgba(10, 10, 130, 0.08) 0px 2px 5px 0px;
          transform: translateY(-0.1875rem);
          .deal-thumbnail .image-cover img {
            transform: scale(1);
          }
        }
      }
    }
  }
  @media(max-width: $screen-mb) {
    .deals-grid-content .deals-grid-items .deals-grid-item {
      .deal-content {
        padding: 20px;
      }
      .deal-book-by {
        left: 20px;
      }
    }
  }
}

@keyframes cardAnim {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes fadeInUp1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 50%, 0);
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
  }
}
@-moz-keyframes fadeInUp1 {
  0% {
      opacity: 0;
      -moz-transform: translate3d(0, 50%, 0);
  }
  100% {
      opacity: 1;
      -moz-transform: none;
  }
}
@-o-keyframes fadeInUp1 {
  0% {
      opacity: 0;
      -o-transform: translate3d(0, 50%, 0);
  }
  100% {
      opacity: 1;
      -o-transform: none;
  }
}
@keyframes fadeInUp1 {
  0% {
      opacity: 0;
      transform: translate3d(0, 50%, 0);
  }
  100% {
      opacity: 1;
      transform: none;
  } 
}
.u--fadeInUp {
  -webkit-animation: fadeInUp1 0.5s ease-in;
  -moz-animation: fadeInUp1 0.5s ease-in;
  -o-animation: fadeInUp1 0.5s ease-in;
  animation: fadeInUp1 0.5s ease-in;
}
.elementToFadeIn {
  -webkit-animation: fadeino 0.5s linear forwards;
  animation: fadeino 0.5s linear forwards;
  }
  
  
  
  @-webkit-keyframes fadeino {
  0% { opacity: 0; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
  }
.teams-grid-with-filter {
  .teams-grid-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    .filter-item {
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $accent-color;
      background: transparent;
      padding: 10px 15px;
      border: 1px solid $accent-color;
      border-radius: 30px;
      &:hover,
      &.active {
        color: #FFFFFF;
        background: $accent-color;
      }
    }
  }
  .teams-grid-content {
    margin-top: 40px;
    .teams-grid-items {
      display: none;
      &.active {
        display: block;
      }
      .teams-grid-item {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        background: #fff;
        text-align: left;
        box-shadow: rgba(10, 10, 130, 0.02) 0px 2px 5px 0px;
        transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, box-shadow 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        .team-thumbnail {
          line-height: 0;
          .image-cover {
            position: relative;
            overflow: hidden;
            padding-bottom: 70%;
            width: 70%;
            margin: 0 auto;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
            }
          }
        }
        .team-content {
          padding: 30px;
          .team-title {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.2;
            color: $primary-color;
            margin-bottom: 7px;
            a {
              color: inherit;
            }
          }
          .team-info {
            .team-position{
              color: #333333;
              font-size: 16px;
              font-weight: 600;
              text-transform: uppercase;
            }
            .team-email {
              color: #0081C3;
              font-size: 17px;
              font-weight: 400;
              font-style: italic;
              margin: 10px 0;
              a{
                color: #0081C3;
              }
            }
          }
          .team-desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .team-book-by {
          position: absolute;
          left: 30px;
          bottom: 20px;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          color: $primary-color;
        }
      }
    }
  }
  @media(max-width: $screen-mb) {
    .teams-grid-content .teams-grid-items .teams-grid-item {
      .team-content {
        padding: 20px;
      }
      .team-book-by {
        left: 20px;
      }
    }
  }
}
article.be-deal-item{
  background: #0F3F70;
  .deal-thumbnail {
    line-height: 0;
    .image-cover {
      position: relative;
      overflow: hidden;
      background: #EAEAEA;
      padding-bottom: 66%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.08);
        transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      }
    }
  }
  .deal-content {
    padding: 30px;
    .deal-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
      color: #fff;
      margin-bottom: 15px;
      min-height: 58px;
      overflow: hidden;
      a {
        color: inherit;
      }
    }
    .deal-price {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      color: #fff;
      margin-bottom: 15px;
      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  @media(max-width: 991.98px) {
    .deal-content {
      padding: 25px;
      .deal-title {
        font-size: 20px;
        min-height: 48px;
      }
    }
  }
  @media(max-width: 767.98px) {
    .deal-content {
      padding: 20px;
      .deal-title {
        font-size: 20px;
        min-height: 48px;
      }
    }
  }
}
